#skills {
    font-weight: 700;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding-left: 10px;
    padding-right: 10px;
    background-image: url(https://source.unsplash.com/900x400/?code);
    color: white;
    background-color: rgba(68, 62, 62, 0.7);
    background-blend-mode: color;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.skill_container {
    color: white;
    font-weight: 700;
    font-size: 14px;
    background-color: var(--arsenic);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 20px;
}
.skills_container {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 150px);
    justify-content: center;
    align-items: center;
    grid-auto-rows: 50px;
}
@media (min-width: 900px) {
    .skill_container {
        font-size: 18px;
    }
    .skills_container {
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(auto-fill, 200px);
    }
}
