@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import "./animation.css";

html {
    scroll-behavior: smooth;
}
body {
    background-color: black;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    padding: 20px;
}
.container {
    display: grid;
    gap: 20px;
    grid-template-areas:
        "hdr"
        "nav"
        "cnt"
        "skl"
        "key"
        "exp"
        "blg";
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1px 300px 1fr;
}
.header {
    grid-area: hdr;
}

.contacts {
    grid-area: cnt;
}

.skills {
    grid-area: skl;
}
.key {
    grid-area: key;
}
.key-item {
    width: 25px;
    height: 25px;
    margin-right: 20px;
    border-radius: 50px;
    box-shadow: 0 0 0 hsla(0, 0%, 100%, 0.4);
    animation: pulse 2s infinite;
}
@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 hsla(0, 0%, 100%, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px hsla(0, 0%, 100%, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 hsla(0, 0%, 100%, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 hsla(0, 0%, 100%, 0.4);
        box-shadow: 0 0 0 0 hsla(0, 0%, 100%, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px hsla(0, 0%, 100%, 0);
        box-shadow: 0 0 0 10px hsla(0, 0%, 100%, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(0, 0%, 100%, 0);
        box-shadow: 0 0 0 0 hsla(0, 0%, 100%, 0);
    }
}
.experiences {
    grid-area: exp;
    display: grid;
    gap: 20px;
    grid-auto-rows: auto;
}

.navigation {
    grid-area: nav;
}

@media (min-width: 900px) {
    .container {
        display: grid;
        gap: 20px;
        grid-template-areas:
            "hdr hdr hdr hdr hdr hdr"
            "cnt cnt cnt cnt cnt nav"
            "skl skl skl skl skl nav"
            "key key key key key nav"
            "exp exp exp exp exp nav"
            "blg blg blg blg blg nav";
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 100px 300px 200px 200px 1fr;
    }
    .experiences {
        grid-area: exp;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
    .navigation {
        position: -webkit-sticky;
        position: sticky;
        top: 20px;
        height: 200px;
    }
}
