:root {
    --sonicSilver: #757780;
    --gunMetal: #30323d;
    --silverSand: #c5c5c5;
    --white: #ffffff;
    --pullmanGreen: #313715;
    --turtleGreen: #939f5c;
    --kiwiGreen: #8eed4d;
    --black: #000000;
    --plantinum: #e9e9e9;
    --nyanza: #e8f5d1;
    --arsenic: #424242;
    --mediumSpringBud: #65b7ed;
    --pastelGray: #d4d4c5;
    --citrine: #d4d31a;
}
