@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
html {
    scroll-behavior: smooth;
}
body {
    background-color: black;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    padding: 20px;
}
.container {
    display: grid;
    gap: 20px;
    grid-template-areas:
        "hdr"
        "nav"
        "cnt"
        "skl"
        "exp"
        "blg";
    grid-template-columns: 1fr;
    grid-template-rows: 100px 200px 300px 1fr;
}
.header {
    grid-area: hdr;
}

.contacts {
    grid-area: cnt;
}

.skills {
    grid-area: skl;
}

.experiences {
    grid-area: exp;
    display: grid;
    gap: 20px;
    grid-auto-rows: auto;
}
.blog {
    grid-area: blg;
}
.navigation {
    grid-area: nav;
}
.card,
.contact-link,
.nav-item {
    transition: all 500ms;
}
.nav-item {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
.nav-item:hover,
.nav-item:focus,
.nav-item:active {
    -webkit-transform: skew(-20deg);
    transform: skew(-20deg);
}
.card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.05);
}
.contact-link:hover {
    transform: translateY(-3px) scale(1.5);
}

.animated-text {
    color: white;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 2.5s steps(40, end);
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 300px;
    }
}

@keyframes anim {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #424242;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

@media (min-width: 900px) {
    .container {
        display: grid;
        gap: 20px;
        grid-template-areas:
            "hdr hdr hdr hdr hdr hdr"
            "cnt cnt cnt cnt cnt nav"
            "skl skl skl skl skl nav"
            "exp exp exp exp exp nav"
            "blg blg blg blg blg nav";
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 100px 300px 200px 1fr;
    }
    .experiences {
        grid-area: exp;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
    .navigation {
        position: -webkit-sticky;
        position: sticky;
        top: 20px;
        height: 200px;
    }
}
